body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header header"
    "sidebar content content content"
    "footer footer footer footer";
  height: 100vh;
  gap: 10px;
}

.item {
  padding: 20px;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}


.item-1 {
  grid-area: header;
  background-color: #34495e;
}


.item-2 {
  grid-area: content;
  background-image: url('OIP.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.item-3 {
  grid-area: sidebar;
  background-image: url('Book.jpeg');
  background-size: cover;
  background-position: center;
}

.item-4 {
  grid-area: footer;
  background-image: url('Book.jpeg');
  background-size: cover;
  background-position: center;
}
